alembic==1.0.5
certifi==2018.11.29
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
dj-database-url==0.5.0
Django==2.1.4
django-heroku==0.3.1
django-pandas==0.5.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm==2.0.0
gunicorn==19.9.0
idna==2.8
isodate==0.6.0
jsonpickle==1.0
Mako==1.0.7
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4
numpy==1.15.4
Owlready2==0.12
pandas==0.23.4
plac==0.9.6
preshed==2.0.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
python-editor==1.0.3
pytz==2018.7
rdflib==4.2.2
rdflib-sqlalchemy==0.3.8
regex==2018.1.10
requests==2.21.0
rope==0.11.0
singledispatch==3.4.0.3
six==1.12.0
spacy==2.0.18
SQLAlchemy==1.2.15
textblob==0.15.2
thinc==6.12.1
toolz==0.9.0
tqdm==4.30.0
ujson==1.35
urllib3==1.24.1
whitenoise==4.1.2
wrapt==1.10.11
