<!DOCTYPE html>
<html>
{% load static %}

<head>
	{% block title %}
	{% endblock %}
	

	<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>
<body class="bg-light">
<div class="main">

<div class="container">
	{% block content %}
    {% endblock %}		
</div>



</div>

</body>
<script type="text/javascript">
	var countries = {{water_classes|safe}};	

</script>

<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>	
<script src="{% static 'js/autocomplete.js' %}"></script>


</html>

