{% extends 'waterdata/base.html' %}

<!-- TITLE -->
{% block title %}
<title>
		Semantic Search Engine for Irrigation
</title>
{% endblock %}
<!-- TITLE END-->


{% block content-before %}
<div class="jumbotron" style="padding: 20px;margin:auto;">
	<center>
			<h1 class="display-4">Semantic Search Engine for Irrigation</h1>
			<p class="lead">A project for adding semantics to water data of United States and <strong>*</strong>Pakistan. <a href="{% url 'about' %}">Read More</a>...</p>
			<hr class="my-4">
			<p class="lead">Visit <a href="{% url 'water' %}"> WaterOnto</a></p>

	</center>
</div>
{% endblock %}


