{% extends 'waterdata/base.html' %}

{% block title %}
<title>
		Semantic Search Engine for Irrigation v2.0
</title>
{% endblock %}


{% block content %}


<center style="margin-top:30px;">
		<div class="h2">
			Semantic Search Engine for Irrigation
		</div> 
		<div class="p">
			A project for adding semantics to water data. <a href="{% url 'about' %}">Read More</a>...
		</div>
		<br>

</center>

<div class="container search-box">
	
	<form 	autocomplete="off" action="/search/" method="get">
  		<div class="autocomplete" style="width:500px;">
        	{{ form }}
  		</div>
    <input type="submit" value="Search">

	</form>	
	
</div>
<br><br><br>
<center>
		<div class="p">
				Visit <a href="{% url 'water' %}"> WaterOnto</a>
		</div>
		<div class="p">
				Visit <a href="{% url 'ontologies' %}"> other ontologies</a>
		</div>		
</center>


{% endblock %}


